.divSearch {
    border: 1px solid rgb(164, 164, 164);
    border-radius: 40px;
    position: relative;
    button {
        border: none;
        line-height: 1;
        border-radius: 40px;
        padding: 8px 25px;
        position: absolute;
        right: 0;
        margin-right: 0.1px;
    }
    button > i {
        font-size: 18px;
    }
    button:hover {
        background-color: #0d6efd;
    }
    input {
        width: 350px;
        line-height: 2;
        border: none;
        border-radius: 40px;
        padding-left: 10px;
    }
    input:focus {
        outline: none;
    }
}
